@{
    Layout = "_Layout";
}

<h1>Welcome to your Inventory Preparedness</h1>
<p>@Html.ActionLink("See all inventory", "Index", "Inventories")</p> 
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>